
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>All Books</title>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

</head>
<body>
<div class="reading">
<img id="booklounge" class="center" src="Images/booklounge.png">
<form action='/sessions/destroy' method='post'>
    <input id="logout" type='submit' name="logout" value="Log out">
</form>
 <div class="container">
  <div class="rectangle">
    <h2>New Books We Love</h2>
  </div>
  <div class="rectangle mid">
    <h2>Book Finder</h2>   </div>
  <div class="rectangle">
    <h2>View our Book Lists</h2>
  </div>
</div>
 <br>
 
<form action="/" method="get">
<input id="home" type="submit" value="Back to Home">
</form>
<div class="reading">
<br>
<br>
<br>
<h3>Add a book</h3>

<form action='/books/add' method="POST">
<label for="title">Add a title</label>
<input type="text" name="title">
<label for="author">Add an author</label>
<input type="author" name="author">
<label for="genre">Add a genre</label>
<input type="genre" name="genre">
<label for="isbn">Add an isbn</label>
<input type="isbn" name="isbn">
<input type='submit' name="addbook" value="Add a new book">
</form>
<br>
<br>
<br>
<br>

<h3>View all books</h3>
<ol>
   <% @books.each do |book| %>
    <li>
       <h3 id="titlelabel">Title:   <%= book.title %></h3>
           <p id="authorlabel">Author:   <%= book.author %></p>
         <p id="genrelabel">Genre:   <%= book.genre %></p>
         <p id="isbnlabel">Isbn:   <%= book.isbn%></p>     
    </li>
    <br>
    <div class="flex-container">
    <form action="/books/<%= book.id %>" method="post">
      <input type='hidden' name='_method' value='DELETE'/>
      <input type="submit" value="Delete">
    </form>
    <form action="/books/<%=book.id%>/update" method='get'>
      <input type="submit" value="Update Book Record" />
    </form>
    <form action="/books/<%= book.id %>/reviews/new" method="get">
    <input type="submit" value="Add review">
    </form>
    </div>
      <ul>
        <% book.add_review.each do |review| %>
          <li><%= review.text %></li>
        <% end %>
      </ul>
<% end %>
</ol>
</div>

<style>


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.reading {
  background-color: #f2f2f2;
  font-size: 20px;
  text-align: center;
  width: 1500px;
  max-width: 1500px;
}


body {
  font-family: Dancing Script;
}

.flex-container {
  display: flex;
  text-align: center;
}


.container {
    display: flex;
    flex-wrap: wrap;
    width: 1500px;
  }
  
  .rectangle {
    font-family: Dancing Script;
    background:  #e6ffff;
    color: gray;
    padding: 20px;
    transition: 2.9s background;
    height: 100px;
    flex: 1 1 220px;
  }
  
  .mid {
    background:  #f2f2f2;;
  }
  
  .rectangle:hover {
    background: #db8ee6;
  }
  
  h2 {
    font-size: 30px;
  }

  #booklounge {
    width: 100%;
  }

  #logout {
    float: right;
    font-family: Dancing Script;
    font-size: 20px;
  }

  #home {
    font-family: Dancing Script;
    font-size: 20px;
  }

  #titlelabel {
    color: #5c5c8a;
  }

  #authorlabel {
    color: #5c5c8a;
  }

  #genrelabel {
    color: #5c5c8a;
  }

  #isbnlabel {
    color: #5c5c8a;
  }

  submit {
    font-family: Dancing Script;
  }



</body>
</html>